/* Start Variables */
:root {
    --section-padding: 100px;
    --main-color: #10cab7;
}
/* End Variables */
/* Start Global Rules */
* {
    --webkit-box-sizing: border-box;
    --moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Work Sans', sans-serif;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
/* End Global Rules */
/* Start Components */
.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
@media (min-width: 1200px) {
    .container {
        width: 1150px;
    }
}
.section-title {
    text-align: center;
}
.section-title h2 {
    font-size: 100px;
    letter-spacing: -2px;
    color: #ebeced;
}
.section-title p {
    font-size: 18px;
    top: -25px;
    position: relative;
    color: #444;
}
/* End Components */
/* Start Header */
.header {
    padding: 20px;
}
.header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.header img {
    width: 60px;
}
.header .nav {

}
.header .nav .icon {
    width: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
}
.header .nav .icon span {
    background-color: black;
    width: 100%;
    height: 2px;
    margin-bottom: 5px;
}
.header .nav .icon span:nth-child(2) {
    width: 60%;
    transition: .3s;
}
.header .nav .icon:hover span:nth-child(2) {
    width: 100%;
}
.header .nav .links {
    position: absolute;
    top: calc(100% + 20px);
    min-width: 200px;
    background-color: #f6f6f6;
    display: none;
}
.header .icon:hover .links {
    display: block;
}
.header .nav .links::before {
    content: '';
    border: 10px solid transparent;
    border-bottom-color: #f6f6f6;
    position: absolute;
    right: 15px;
    top: -20px;
}
.header .nav .links li {
    padding: 15px;
}
.header .nav .links li a {
    color: black;
    transition: .3s;
}
.header .nav .links li:not(:last-child) {
    border-bottom: 1px solid #ddd;
}
.header .nav .links li:hover a {
    padding-left: 20px;
    color: blue;
}
/* End Header */
/* Start Landing */
.landing {
    position: relative;
    background-image: url(/images/landing.jpg);
    background-size: cover;
    height: calc(100vh - 85px);
}
.landing .main-text {
    top: 50%;
    position: absolute;
    left: 50%;
    width: 300px;
    transform: translate(-50%, -50%);
}
.landing .main-text h1 {
    color: var(--main-color);
    font-size: 50px;
    margin: 0;
}
.landing .main-text p {
    line-height: 2;
    margin: 20px 0;
    font-size: 18px;
}
/* End Landing */
/* Start Features */
.features {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: #f6f6f6;
}
.features .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 40px;
}
.features .box {
    text-align: center;
}
.features .box i {
    color: var(--main-color);
}
.features .box .text h3 {
    font-size: 25px;
    margin: 30px 0;
}
.features .box .text p {
    line-height: 2;
    color: #777;
    margin: 0 10px;
}
/* End Features */
/* Start Services */
.services {
    
}
.services .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 30px;
}
.services {

}
.services {

}
.services {

}
/* End Services */
